#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

package=tahoe-lafs

clean:
	rm -f build-*
	dh_testdir
	dh_testroot
	python setup.py clean
	rm -rf build
	find . -name "*\.py[co]" -exec rm -f {} \;
	dh_clean

build: build-indep build-arch

build-arch: build-stamp

build-indep: build-stamp

build-stamp: 
	dh_testdir
	python setup.py build
	touch $@

install: build
	dh_testdir
	dh_testroot
	dh_prep
	dh_installdirs
	dh_install
	chmod 755 debian/$(package)/usr/share/munin/plugins/*
	python setup.py install \
		--no-compile \
		--install-layout=deb \
		--single-version-externally-managed \
		--root $(CURDIR)/debian/$(package)
	
	# Clean bin/tahoe trick stolen from upstream packaging script.
	head -1 debian/$(package)/usr/bin/tahoe > debian/$(package)/usr/bin/tahoe.new
	echo "from allmydata.scripts import runner" >> debian/$(package)/usr/bin/tahoe.new
	echo "runner.run()" >> debian/$(package)//usr/bin/tahoe.new
	chmod +x debian/$(package)/usr/bin/tahoe.new
	mv debian/$(package)/usr/bin/tahoe.new debian/$(package)/usr/bin/tahoe

binary-indep: build install
	dh_testdir
	dh_testroot
	dh_installchangelogs
	dh_installdocs
	mv debian/$(package)/usr/share/doc/$(package)/NEWS.rst \
		debian/$(package)/usr/share/doc/$(package)/changelog
	dh_installexamples
	dh_strip
	dh_compress -X.py
	dh_fixperms
	dh_pysupport
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary-arch:

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install configure
